img {
  max-width: 100%; }

* {
  font-family: "Roboto", sans-serif; }

.nav {
  background-color: #00000a;
  height: auto;
  text-align: center; }
  .nav .red {
    color: red;
    font-weight: bolder; }
  .nav .black {
    color: white;
    font-weight: bolder; }

.offcanvas-body, .offcanvas-header {
  background-color: #00000a; }
  .offcanvas-body a, .offcanvas-header a {
    color: red; }

/*background-image: url(../img/sportfondo.jpg);*/
#grid {
  background-color: white; }

#grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 52rem 44rem auto 44rem auto auto;
  grid-template-areas: "promo promo " "banner banner " "banner1 banner1" "banner2 banner21" "banner3 banner3" "banner4 banner4" "footer footer";
  height: 135rem;
  width: 100%; }
  #grid1 .promo {
    color: white;
    grid-area: promo;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    background-image: url(../img/sportfondo.jpg);
    background-size: cover;
    background-position: center; }
    #grid1 .promo .promo1 {
      padding: 2rem;
      gap: 1rem;
      display: inline-flex;
      flex-direction: column;
      text-align: left;
      width: 30%; }
  #grid1 .banner {
    background-color: #00000a;
    display: flex;
    grid-area: banner;
    gap: 10rem;
    margin-top: 0rem;
    padding-top: 2rem; }
    #grid1 .banner .banneruno {
      height: 30rem;
      width: 10rem;
      padding: 2rem;
      color: white; }
      #grid1 .banner .banneruno .bannerunofirst {
        height: 18rem;
        width: 18rem; }
    #grid1 .banner .bannerdos {
      height: 30rem;
      width: 18rem;
      padding: 2rem;
      background-color: #3c3c3c;
      color: white;
      border-radius: 1rem;
      margin-left: 8rem;
      margin-top: 2rem;
      box-shadow: 0px 5px 5px 0px white; }
      #grid1 .banner .bannerdos .bannerdosfirst {
        padding: 0; }
        #grid1 .banner .bannerdos .bannerdosfirst .bannerdosfirst1 {
          border-bottom: 1px white solid; }
        #grid1 .banner .bannerdos .bannerdosfirst .bannerdosfirst2 {
          margin-top: 2rem;
          text-align: center; }
        #grid1 .banner .bannerdos .bannerdosfirst .bannerdosfirst3 {
          margin-top: 2rem;
          text-align: center;
          border-bottom: 1px white solid;
          padding-bottom: 2rem; }
        #grid1 .banner .bannerdos .bannerdosfirst .bannerdosfirst4 {
          margin-top: 1rem; }
  #grid1 .banner1 {
    background-color: #00000a;
    grid-area: banner1;
    display: flex;
    color: white;
    gap: 14rem; }
    #grid1 .banner1 .banner1card {
      padding: 2rem;
      margin-top: 4rem; }
    #grid1 .banner1 .banner1card2 {
      margin-right: 4rem; }
      #grid1 .banner1 .banner1card2 img {
        border-radius: 2rem; }
  #grid1 .banner2 {
    grid-area: banner2;
    background-color: #00000a;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 4rem; }
    #grid1 .banner2 .celu img {
      width: 15rem;
      height: 25rem;
      padding-left: 2rem;
      transform: skewY(15deg); }
  #grid1 .banner21 {
    grid-area: banner21;
    background-color: #00000a;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white; }
    #grid1 .banner21 .banner21text {
      margin-top: 8rem;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "textocelu textocelu2" "textocelu3 textocelu4"; }
      #grid1 .banner21 .banner21text .textocelu {
        grid-area: textocelu;
        padding: 2rem; }
      #grid1 .banner21 .banner21text .textocelu2 {
        grid-area: textocelu2;
        padding: 2rem; }
      #grid1 .banner21 .banner21text .textocelu3 {
        grid-area: textocelu3;
        padding: 2rem;
        color: white;
        font-weight: 700; }
      #grid1 .banner21 .banner21text .textocelu4 {
        grid-area: textocelu4;
        padding: 2rem;
        color: white;
        font-weight: 700; }
  #grid1 .banner3 {
    grid-area: banner3;
    background-image: linear-gradient(to bottom, #00000a, #4c4c4c, #4c4c4c);
    display: flex;
    gap: 8rem;
    justify-content: center;
    padding-top: 4rem; }
    #grid1 .banner3 .banner3card {
      display: flex;
      flex-direction: column;
      width: 20rem;
      height: 30rem;
      align-items: center;
      justify-content: start;
      text-align: center;
      gap: 2rem;
      background-color: #3c3c3c;
      box-shadow: 0px 5px 5px 0px grey; }
      #grid1 .banner3 .banner3card .banner3cardimg {
        width: 100%;
        height: 10rem;
        margin-bottom: 4rem; }
      #grid1 .banner3 .banner3card .banner3cardtitle {
        color: white;
        font-size: 2rem;
        font-weight: 900; }
      #grid1 .banner3 .banner3card .banner3cardtext {
        color: white; }
  #grid1 .banner4 {
    background-image: linear-gradient(to bottom, #4c4c4c, white);
    color: black;
    grid-area: banner4; }
    #grid1 .banner4 .preg {
      display: flex;
      justify-content: center;
      padding: 2rem;
      margin-top: 4rem;
      gap: 2rem; }
      #grid1 .banner4 .preg .pregtitle {
        align-items: center;
        display: flex;
        letter-spacing: .5rem;
        gap: .5rem; }
      #grid1 .banner4 .preg .preguntas {
        display: flex;
        flex-direction: column; }
        #grid1 .banner4 .preg .preguntas h3 {
          border-bottom: 1px solid black;
          padding: .5rem; }
  #grid1 .footer {
    display: flex;
    grid-area: footer;
    background-color: #00000a;
    gap: 8rem;
    color: white;
    padding: 4rem;
    text-decoration: none;
    list-style: none; }
    #grid1 .footer .redes {
      width: 12rem;
      height: 10rem;
      gap: 2rem; }
      #grid1 .footer .redes img {
        width: 2rem;
        height: 2rem; }
    #grid1 .footer .terminos {
      width: 12rem;
      height: 10rem; }
      #grid1 .footer .terminos ul {
        text-decoration: none;
        list-style: none; }
    #grid1 .footer .datafiscal img {
      width: 8rem;
      height: 12rem; }

* {
  font-family: "Roboto", sans-serif; }

img {
  max-width: 100%; }

#gridsuc {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-areas: "bannersuc" "sucursal" "sucursal" "sucursal" "sucursal" "sucursal" "sucursal" "sucursal" "sucursal" "sucursal" "banner4" "footer";
  margin-top: 3.5rem;
  background-image: linear-gradient(to bottom, #d8d8d8, #e6e6e6, #c9c9c9, #464646, #00000a); }
  #gridsuc .bannersuc {
    background-image: url(../img/sportfondo6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%; }
  #gridsuc .sucursal {
    padding: 3rem; }
  #gridsuc .bannersucursal {
    display: flex;
    background-color: white;
    width: auto;
    height: 18rem;
    gap: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 5px 0px gray; }
    #gridsuc .bannersucursal .sucursalimg {
      width: 60rem;
      height: 60rem; }
      #gridsuc .bannersucursal .sucursalimg img {
        border-radius: 2rem 0rem 0rem 2rem; }
    #gridsuc .bannersucursal .sucursalinfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "text horarios" "servicios boton"; }
      #gridsuc .bannersucursal .sucursalinfo .text {
        text-align: start;
        margin-top: 2rem;
        border-bottom: 1px solid black; }
      #gridsuc .bannersucursal .sucursalinfo .horarios {
        display: inline;
        height: fit-content;
        text-align: center;
        margin-top: 4rem; }
        #gridsuc .bannersucursal .sucursalinfo .horarios p {
          display: flex;
          flex-direction: column; }
      #gridsuc .bannersucursal .sucursalinfo .servicios {
        height: auto;
        width: auto;
        display: inline;
        margin-top: 1rem; }
      #gridsuc .bannersucursal .sucursalinfo .boton {
        text-align: center;
        display: inline;
        margin-bottom: 1rem; }
  #gridsuc .banner4 {
    color: white;
    grid-area: banner4; }
    #gridsuc .banner4 .preg {
      display: flex;
      justify-content: center;
      padding: 2rem;
      margin-top: 4rem;
      gap: 2rem; }
      #gridsuc .banner4 .preg .pregtitle {
        align-items: center;
        display: flex;
        letter-spacing: .5rem;
        gap: .5rem; }
      #gridsuc .banner4 .preg .preguntas {
        display: flex;
        flex-direction: column; }
        #gridsuc .banner4 .preg .preguntas h3 {
          border-bottom: 1px solid white;
          padding: .5rem; }

.footer {
  display: flex;
  grid-area: footer;
  background-color: #00000a;
  gap: 8rem;
  color: white;
  padding: 4rem;
  text-decoration: none;
  list-style: none;
  width: 100%; }
  .footer .redes {
    width: 12rem;
    height: 10rem;
    gap: 2rem; }
    .footer .redes img {
      width: 2rem;
      height: 2rem; }
  .footer .terminos {
    width: 12rem;
    height: 10rem; }
    .footer .terminos ul {
      text-decoration: none;
      list-style: none; }
  .footer .datafiscal img {
    width: 8rem;
    height: 12rem; }
