* {
    font-family: $fuente-google;
}

img {
    max-width: 100%;
}


#gridsuc {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-areas: 
    "bannersuc"
    "sucursal"
    "sucursal"
    "sucursal"
    "sucursal"
    "sucursal"
    "sucursal"
    "sucursal"
    "sucursal"
    "sucursal"
    "banner4"
    "footer";
    margin-top: 3.5rem;
    background-image: linear-gradient(to bottom,rgb(216, 216, 216),rgb(230, 230, 230), rgb(201, 201, 201), rgb(70, 70, 70), rgb(0,0,10));
    .bannersuc {
        background-image: url(../img/sportfondo6.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
     
    }

    @media (max-width: 995px) { 
        .sucursalinfo {
            font-size: .7rem !important;
        }
    }
    

    .sucursal {
        padding:3rem;
    }
    .bannersucursal {
        display: flex;
        background-color: white;
        width: auto;
        height: 21.5rem;
        gap: 2rem;
        border-radius: 2rem;
        box-shadow: 0px 5px 5px 0px gray;
        .sucursalimg {
            width:60rem;
            height:60rem;
            img {
                border-radius: 2rem 0rem 0rem 2rem;
            }
            @media (max-width: 1200px) { 
                .bannersucursal {
                    height: 18rem !important;
                }
            }
        }
        .sucursalinfo {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 12rem 12rem;
            grid-template-areas: 
            "text horarios"
            "servicios boton" ;
            font-size: .8;

            .text {
                text-align: start;
                margin-top: .5rem;
                border-bottom: 1px solid black;
            }

            .horarios {
                display: inline;
                height: fit-content;
                text-align: center;
                margin-top: 4rem;             
                p {
                display: flex;
                flex-direction: column;
                }
          
            }

            .servicios {
                height: auto; width: auto;
                display: inline;
                margin-top: 1rem;
            }

            .boton {
                text-align: center;
                display: inline;   
                margin-bottom: 1rem; 
            }
        }
    }

    .banner4 {
        
        color: white;
        grid-area: banner4;
        
            .preg {
                display: flex;
                justify-content: center;
                padding: 2rem;
                margin-top: 4rem;
                gap: 2rem;
                    .pregtitle {
                        align-items: center;
                        display: flex;
                        letter-spacing: .5rem;
                        gap: .5rem;
                    }

                    .preguntas {
                        display: flex;
                        flex-direction: column;
                            h3{
                                border-bottom: 1px solid white;
                                padding: .5rem;
                            }
                    }
            }
        
        @media (max-width: 990px) { 
             .preg {
                  font-size: .5rem !important;
             }
        }

    }

    


}






.footer {
    display: flex;
    grid-area: footer;
    
    gap: 8rem;
    color: white;
    padding: 4rem;
    text-decoration: none;
    list-style: none;
    width: 100%;
        .redes {
            width: 12rem;
            height: 10rem;
            img{
                width: 2rem; height: 2rem;
            }
            gap: 2rem;
        }
        .terminos {
            width: 12rem;
            height: 10rem;
            ul {
            text-decoration: none;
            list-style: none;
              }   
        }
        .datafiscal {
            img{
            width: 8rem;
            height: 12rem;
            }
        }
}    

@media  screen and(max-width: 990px) { 
    .preguntas h3  {
         font-size: .5rem !important;
    }
    .pregtitle h2 {
        font-size: .8rem;
    }
}
@media screen and (max-width: 770px) { 
    .footer {
         font-size: .7rem !important;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 0 !important;
    }
    .preg{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px){
    .bannersucursal{
        height: 17.6rem !important;
    }
}

@media screen and ( width: 1200px){
    .bannersucursal{
        height: 21.4rem !important;
    }
}

@media screen and ( max-width: 993px){
    .bannersucursal{
        height: 21.4rem !important;
    }
}
@media screen and ( width: 995px){
    .bannersucursal{
        height: 21.4rem !important;
    }
}
@media screen and ( max-width: 991px){
    .bannersucursal{
        height: 15.3rem !important;
    }
    .boton {
        display: none !important;
    }
}

@media screen and ( max-width: 767px){
    .bannersucursal{
        height: 11.3rem !important;
    }
    .boton {
        display: none !important;
    }
    .bannersucursal {
       
        h2 {
             font-size: .9rem;
        }
        p {
            font-size: .6rem;
        }
 
        .text {
            border: none !important;
        }

        .servicios {
            display: none !important;
        }

    }


}

@media screen and ( max-width: 575px){
    .sucursal {
        align-items: center;
    }

        .sucursal {
            padding: 1rem !important;
        }

        .bannersucursal   {
            width: 22rem !important;
            img {
            height: 11.3rem !important;
            }
            padding: 0 !important;
            .sucursalinfo {

                .horarios {
                    display: none !important;
                }
                p {
                font-size: .6rem !important;
                }
            }
        }

    }

@media screen and (max-width:405px) {
    
}    



